.placeholderTransition {
    animation: spin-into-place 1s reverse forwards;
}

.placeholderAbsolute {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.cardDisplayTransition {
    animation: spin-into-place 1s;
}

.countText {
    font-size: xx-large;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

@keyframes spin-into-place {
    0% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}